/*  your css code here. If applicable */
.imageContainer{
	width:1100px;
	height:200vh;
	background-color:grey;
}
#img1{
	width:45%;	
	padding:30px;
}
table{
	border: 2px solid pink;
	
}

table td{
	border:1px solid pink;
}
.timg{
	width:85%;
	padding:10px;
}
.row .col1{
	width:200px;
}
.row .col2{
	width:600px;
}
.row .col3{
	width:200px;
}
ul{
	list-style:none;
}
p{
	padding:30px
}